/* 去除默认边框 */

* {
    margin: 0;
    padding: 0
}

h1 h2 h3 h4 h5 h6 {
    font-size: 100%
}


/* 去除默认样式 */

a {
    text-decoration: none;
    color: #000
}


/* 去除默认样式 */

li,
ul,
ol {
    list-style-type: none
}


/* 去除默认样式 */

img {
    border: 0
}


/* 去除默认样式 */

input {
    outline: 0;
    border: 0;
    border: 1px solid #ccc;
    -webkit-appearance: none
}

button {
    outline: 0
}


/* 设置字体在移动端不能选中 */

* {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    -o-user-select: none;
    user-select: none
}


/* 响应式字体设计 */

html {
    font-size: 16px;
    width: 100%;
    height: 100%
}

body {
    background: #fff
}

@media screen and (min-width:375px) {
    html {
        font-size: calc(100%+2 *(100vw - 375px) / 39);
        font-size: calc(16px+2 *(100vw - 375px) / 39)
    }
}

@media screen and (min-width:414px) {
    html {
        font-size: calc(112.5%+4 *(100vw - 414px) / 586);
        font-size: calc(18px+4 *(100vw - 414px) / 586)
    }
}

@media screen and (min-width:600px) {
    html {
        font-size: calc(125%+4 *(100vw - 600px) / 400);
        font-size: calc(20px+4 *(100vw - 600px) / 400)
    }
}

@media screen and (min-width:1000px) {
    html {
        font-size: calc(137.5%+6 *(100vw - 1000px) / 1000);
        font-size: calc(22px+6 *(100vw - 1000px) / 1000)
    }
}